html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  position: relative;
}
#output {
  border: 1px solid #888;
}

.rtable {
  position: absolute;
  top: 6em;
  left: 0.5em;
  right: 0.5em;
  bottom: 0.5em;

  overflow: auto;
}
td.prpt:before {
  content: ">";
}

label.before {
  padding-right: 0.5em;
}
label.before:after {
  content: ":";
}
textarea {
  width: 20em;
}
